.page-container {
  padding: 2rem;
  text-align: center;
}

/* 標題 */
.info-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* 右上方按鈕區 */
.route-buttons {
  display: flex;
  justify-content: flex-end; 
  gap: 10px;
  margin-bottom: 20px;
}

.route-btn {
  padding: 8px 16px;
  border: 1px solid #007bff;
  background-color: rgb(246, 242, 242);
  color: #007bff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.route-btn:hover {
  background-color: #007bff;
  color: white;
}

.route-btn.active {
  background-color: #007bff;
  color: white;
}

/* 卡片區 */
.bus-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.bus-card {
  width: 300px;
  min-height: 150px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  text-align: left;
  box-sizing: border-box;
  color: white; /* 讓文字在深色背景可讀 */
}
